@import url(/css/_variables.css);
*{
    margin: 0;
    padding: 0;
}
header {
    border-bottom: 1px solid #000;
}

#social-profile a{
    margin: 0.5rem 1.5rem;
    font-size: 30px;
}

/* #hero img {
    width: 300px;
    height: 200px;
} */

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    }

.company-details {
    overflow: hidden;
    padding: 3em 0em;
    background: #E3F0F7;
    text-align: center;
    margin-top: 5em;
}

footer #icon {
    display: block;
    margin-bottom: 1em;
    font-size: 3em;
}

.copyright {
    overflow: hidden;
    padding: 3em 0em;
    border-top: 20px solid rgba(255, 255, 255, 0.08);
    text-align: center;
    background: #191e3b;
}

.copyright p{
    letter-spacing: 1px;
    font-size: 0.90em;
    color: rgba(255, 255, 255, 0.6);
}

.copyright a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

ul .contact {
    margin: 0;
    padding: 2em 0em 0em 0em;
    list-style: none;
}

ul.contact li{
	display: inline-block;
	padding: 0em 0.10em;
	font-size: 1em;
}

ul.contact li a{
	color: #FFF;
	display: inline-block;
	background: #4C93B9;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}


.subscribe-newsletter form label {
    padding: 30px auto;
}

.left-col{
    text-align: center;
    padding: 30px;
}

.left-col h1{
    color: blue;
}

.left-col p{
    text-align: center;
    color: #191e3b;
    font-size: 25px;
}

.right-col i{
    color: blue;
    font-size: 200px;
    text-align: center;
}

#collaboration{
    /* background: #bfbaaa; */
    /* margin-top: 30px; */
    padding: 20px;
}

#message-me{
    padding: 30px;
}

.message-right form .message-input{
    display: flex;
    flex-direction: row;
}

label {
    color: blue;
    font-size: 20px;
}

.message-left i{
    font-size: 40px;
}

.message-left .fa-whatsapp{
    color: green;
}

.message-left .fa-envelope{
    color: green;
}

.message-left a{
    text-decoration: none;
}